.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.primary-btn {
  background-color: #0e7c66;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #095c4d;
}
