.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white !important;
  color: #333 !important;
}

.input-group input:focus,
.input-group input:active {
  background-color: white !important;
  color: #333 !important;
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: white !important;
  color: #333 !important;
}

.primary-btn {
  background-color: #0e7c66;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #095c4d;
}
